<div class="container">

    <h1>My Reports</h1>
  
    <div
      class="report-card"
      *ngFor="let report of reports">
  
      <div>
  
        <div *ngIf="editingReportId !== report.id">
          <h3>{{ report.title }}</h3>
        
          <button (click)="startEditing(report)">
            ✏️
          </button>
        </div>
        
        <div *ngIf="editingReportId === report.id">
        
          <input
            [(ngModel)]="editedTitle"
            type="text">
        
          <button (click)="saveTitle(report)">
            ✓
          </button>
        
          <button (click)="cancelEditing()">
            ✕
          </button>
        
        </div>
  
        <p>
          {{ report.created_at | date:'dd/MM/yyyy HH:mm' }}
        </p>
  
      </div>
  
      <div class="actions">
  
        <button
          class="view-btn"
          (click)="viewReport(report)">
          View
        </button>
  
        <button
          class="download-btn"
          (click)="downloadReport(report)">
          Download
        </button>
  
        <button
          class="delete-btn"
          (click)="deleteReport(report.id)">
          Delete
        </button>
  
      </div>
  
    </div>
  
  </div>
  
  <div
    class="modal-overlay"
    *ngIf="selectedReport">
  
    <div class="modal">
      <button
        class="close-button"
        (click)="closeModal()">
        X
  </button>
  
      <h2>
        {{ selectedReport.title }}
      </h2>
  
      <div
        class="markdown-content"
        [innerHTML]="renderedMarkdown">
      </div>
  
      
  
    </div>
  
  </div>